global
    daemon

defaults
    mode    http
    timeout connect 1000
    timeout client  1000
    timeout server  1000

frontend localnodes
    bind *:80
    mode http
    default_backend nodes

backend nodes
    mode http
    balance roundrobin
    # Healthcheck the servers every 100 milliseconds and require 3 failures before marking it as down
    option tcp-check

    # Rewrite the context path
    http-request set-path /stateless-tomcat/%[path]

    # Rewrite the Set-Cookie path
    http-response replace-header Set-Cookie ([^;]*;)(\ ?Path=/stateless-tomcat;?)(.*) \1\ Path=/;\3

    # try to indicate which backend server handled the request
    http-response set-header X-Origin app_%[srv_id]

    server app_1 app_1:8080 check inter 100
    server app_2 app_2:8080 check inter 100
    server app_3 app_3:8080 check inter 100
